<div class = "bg-dark text-white sidebar">
    <ul class = "nav-item">
       
        <li class = "nav-item">
            <a routerLink= "/dashboard" class= "nav-link text-white">
                Dashboard
            </a>
        </li>

        <li class = "nav-item">
            <a routerLink= "/policyholders" class= "nav-link text-white">
                Policy Holders
            </a>
        </li>

        <li class = "nav-item">
            <a routerLink= "/policies" class= "nav-link text-white">
                Policies
            </a>
        </li>

        <li class = "nav-item">
            <a routerLink= "/claims" class= "nav-link text-white">
                Claims
            </a>
        </li>

        <li class = "nav-item">
            <a routerLink= "/users" class= "nav-link text-white">
                Users
            </a>
        </li>
    </ul>
</div>